.signupChild {
  position: absolute;
  top: calc(50% - 398.58px);
  left: calc(50% - 182.42px);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.alreadyHaveAn {
  font-weight: 500;
}
.alreadyHaveAnContainer {
  position: absolute;
  top: calc(50% + 366.98px);
  left: calc(50% - 146.75px);
  line-height: 24px;
  color: var(--color-white);
  display: inline-block;
  width: 311.5px;
  height: 23px;
  text-decoration: none;
}
.signupItem {
  border: 1px solid var(--color-thistle);
  background-color: transparent;
  position: absolute;
  top: calc(50% + 85px);
  left: calc(50% - 177px);
  border-radius: var(--br-md);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 366px;
  height: 60px;
}
.div,
.mobileNumber {
  position: absolute;
  line-height: 24px;
  display: inline-block;
}
.mobileNumber {
  margin: 0;
  top: calc(50% + 107.84px);
  left: calc(50% - 104.45px);
  font-weight: 500;
  text-align: left;
  width: 171px;
  height: 26px;
}
.div {
  top: calc(50% + 24px);
  left: calc(50% - 163px);
  font-size: 24px;
  font-weight: 600;
  width: 58.86px;
}
.rectangleDiv,
.signupInner {
  position: absolute;
  top: calc(50% + 2px);
  left: calc(50% - 177px);
  border-radius: var(--br-md);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-thistle);
  box-sizing: border-box;
  width: 366px;
  height: 59px;
}
.rectangleDiv {
  top: calc(50% - 74px);
  left: calc(50% - 174px);
}
.emailAddress,
.username {
  margin: 0;
  position: absolute;
  top: calc(50% + 26.16px);
  left: calc(50% - 103.55px);
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 170px;
  height: 26px;
}
.emailAddress {
  top: calc(50% - 49.84px);
  left: calc(50% - 100.55px);
}
.startWithSigning,
.welcome {
  margin: 0;
  position: relative;
  display: inline-block;
}
.welcome {
  font-size: inherit;
  line-height: 60px;
  font-weight: 600;
  font-family: inherit;
  width: 422px;
}
.startWithSigning {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  font-family: var(--font-lato);
  width: 422.65px;
  height: 53px;
  flex-shrink: 0;
}
.welcomeParent {
  position: absolute;
  top: 299px;
  left: calc(50% - 201.45px);
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 48px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.groupIcon,
.signupChild1 {
  position: absolute;
  top: calc(50% + 108.09px);
  left: calc(50% - 139.75px);
  width: 19.5px;
  height: 19.5px;
}
.signupChild1 {
  top: calc(50% + 169px);
  left: calc(50% - 177px);
  border-radius: var(--br-md);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-thistle);
  box-sizing: border-box;
  width: 366px;
  height: 60px;
}
.passwordInfo {
  margin: 0;
  position: absolute;
  top: calc(50% + 187.84px);
  left: calc(50% - 104.45px);
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 171px;
  height: 26px;
}
.hide22Icon,
.signupChild2 {
  position: absolute;
  top: calc(50% + 190.11px);
  left: calc(50% - 141.15px);
  width: 18.8px;
  height: 21.47px;
}
.hide22Icon {
  top: calc(50% + 190px);
  left: calc(50% + 140px);
  width: 25px;
  height: 24px;
  overflow: hidden;
}
.rectangleInput {
  border: 0;
  background-color: #00e276;
  position: absolute;
  top: 758px;
  left: 534px;
  border-radius: 6px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.06);
  width: 366px;
  height: 51px;
}
.signUp {
  position: absolute;
  top: calc(50% + 260px);
  left: calc(50% - 77px);
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  color: var(--color-white);
  width: 166px;
  height: 24px;
}
.sShape21Icon {
  position: absolute;
  top: 194px;
  left: -251px;
  width: 742.6px;
  height: 891px;
  object-fit: cover;
}
.signup {
  position: relative;
  background-color: #050017;
  width: 100%;
  height: 1024px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1200px) {
  .welcome {
    display: flex;
  }
  .startWithSigning,
  .welcome {
    width: 422px;
  }
}
@media screen and (max-width: 960px) {
  .startWithSigning,
  .welcome {
    width: 422px;
  }
}
@media screen and (max-width: 420px) {
  .startWithSigning,
  .welcome {
    width: 422px;
  }
}

/* Styles for desktop screens */

@media only screen and (max-width: 700px) {
  .formi {
    width: 1000px;
  }
}

/* Styles for tablet screens */
@media only screen and (max-width: 768px) {
  .formi {
    max-width: 500px;
  }
}

/* Styles for mobile screens */
@media only screen and (max-width: 480px) {
  .formi {
    max-width: 3000px;
  }
}
